#header{
 width: 100%;
 height:80px;
 background-color: #4BA600;
}

.left{
width:30%;
 background-color: #32C236 ;
 float: left;
}

.right{
width:70%;
 background-color: #C9FFCB;
 float: right;
}

h5{
color:violet;
font-style: italic;
}
